.app-header{
  border: 1px;
  border-style: hidden hidden solid hidden;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-top: 110px;
  height: calc(100vh - 80px);
}

main {
  padding: 10px;
}

.side-nav-bar {
  border: 1px;
  border-style: hidden hidden solid hidden;
}
