<!--The content below is only a placeholder and can be replaced.-->
<div class="app-header" style="text-align:left">
  <h1>
    <p>Analysis<button mat-button (click)="sidenav.toggle()"><mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon></button></p>
  </h1>
</div>

<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" fixedInViewport="Fixed">
    <p class="side-nav-bar"><button mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</button></p>
    <p class="side-nav-bar"><button mat-button routerLink="/upload" routerLinkActive="active">Upload Data</button></p>
    <p class="side-nav-bar"><button mat-button routerLink="/data" routerLinkActive="active">Operational Data</button></p>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
